---
import slugify from '../../js/slugify'


interface Props {

    project: string
    type: string,
    client: string,
    src: string,
    year: number,

}


const {
    project,
    type,
    client,
    src,
    year
    } = Astro.props as Props
---


<div class="baseCardYouTube">
    <div class="videoCardYouTube">

        <iframe 
        class="iframeCardYouTube"
        width=auto height=auto
        src={src+"?&rel=0"}
        title={project}
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin"
        loading = "lazy" 
        allowfullscreen>
        </iframe>

    </div>
   
    <div class="textCardYouTube">
        <span class="nameCardYouTube" >{project}</span>
        <a href=`/clients/${slugify(client)}` class ="clientCardYouTube td-n c-dark">{client}</a>
        <div class="footerCardYouTube">
            <a href=`/showCase/${slugify(type)}` class="td-n c-dark" >Type: {type}</a>
            <a href=`/showCase/${slugify(year.toString())}` class="td-n c-dark" > {year}</a>
        </div>
       
       
    </div>
</div>






   
    