---

interface Props {

    project: string
    type: string,
    client: string,
    src: string,

}


const {
    project,
    type,
    client,
    src,
    } = Astro.props as Props
---


<div class="youtube-item-container">
    <div class="youtube-item-video-container">

        <iframe 
        class="youtube-item-iframe"
        width=auto height=auto
        src={src}
        title={project}
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen>
        </iframe>

    </div>
   
    <div class="youtube-item-text-container">
        <span class="video-name" >{project}</span>
        <span class ="video-client">{client}</span>
        <div class="video-footer">
            <span >Type: {type}</span>
            <span >2024</span>
        </div>
       
       
    </div>
</div>






   
    