---

interface Props {

    mainText?: string,
    subText?: string,
    desText?: string,
    endText?: string,
    imgUrl?: string,
    reversed?: boolean,

}


const {
    mainText= "", 
    subText= "", 
    desText = "Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quibusdam mollitia animi quam quos asperiores dolor praesentium iste molestiae! Non quod, tempora sapiente porro molestiae commodi voluptate sint aperiam recusandae.",
    endText = "",
    imgUrl = "",
    reversed = false
    } = Astro.props as Props
---


<div class:list={["intro-container", {"row-rev": reversed}]}>

    <div class = "intro-text">
        <div class="sub-text">{subText}</div>
        <div class="main-text">{mainText}</div>
        <p class="des-text"> {desText}</p>
        <div class="end-text">{endText}</div>
    </div>
    <div class = "intro-image">
        <img src={imgUrl} width="100%"/>
    </div>
      
</div>