---
import showcaseData from "../../data/ShowCaseData.js"
import PageHeading from "../Items/PageHeading.astro";
import CardYoutube from "../Cards/CardYoutube.astro";


const {pageHeading, data} = Astro.props


---
	<div class="baseShowCase bodyPadding">
		<PageHeading text={pageHeading}/>
	


	
		<div class="contentShowCase">
		

			
		{
			data.map((item)=>(
				<CardYoutube project ={item.name} type="Video" client= {item.client} src={item.url} year={item.year}/>
			))
		}

	

		</div>

	</div>




		
